<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    h3, h6 {
        margin: 0;
    }
</style>
<body>
<form action="/users/create" method="post">
    <input type="text" placeholder="login" name="login">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="last name" name="lastName">
    <input type="submit" value="create">
</form>
<h3>UserList</h3>
<ul>
    <th:block th:each="user : ${users}">
        <li>
            <a th:href="${user.getId()}" th:text="${user.getLogin()}"></a>
        </li>
        <form th:action="@{'delete/' + ${user.getId()}}" method="post">
            <button>delete</button>
        </form>
    </th:block>
</ul>
</body>
</html>